.title {
  font-size: 32px;
  padding-top: 120px;
  margin-bottom: 24px;
  font-weight: 300;
  text-align: center;

  &.hasResults {
    padding: 0;
  }
}

.container {
  text-align: center;
  border: 2px solid #1b2730;
  background-color: #0a171e;
  border-radius: 16px;
  padding: 16px;
}

.dateTitle {
  color: #fff9;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .title {
    font-size: 48px;
  }

  .container {
    margin: 0 auto;
    width: 320px;
  }
}
